@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  margin: 0 auto;
  position: relative;
}

.whole-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  position: relative;
}

.container {
  margin: 0.75em auto 1em auto;
  margin: 1.5em auto 1em auto;
  width: 250px;
}

.container .cell {
  border: 1px grey solid;
  width: 50px;
  height: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}

.keyboard {
  width: 400px;
  height: 150px;
  margin: 1em auto 1em auto;
}

.keyboard table {
  margin: auto;
  width: 400px;
}

.keyboard table .row1 {
  margin: auto;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 0.5em;
}

.keyboard table .row2 {
  margin: auto;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 0.5em;
}

.keyboard table .row3 {
  margin: auto;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 0.5em;
}

.keyboard table .letter {
  width: 32px;
  height: 45px;
  font-weight: 700;
  font-size: 1rem;
  border: 1px grey solid;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.3em;
  margin: 0 0.15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyboard table .letter:hover {
  cursor: pointer;
}

.keyboard table .enter,
.keyboard table .backspace {
  width: 40px;
  height: 45px;
  font-weight: 700;
  font-size: 0.8rem;
  border: 1.3px grey solid;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.3em;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyboard table .enter,
.keyboard table .backspace:hover {
  cursor: pointer;
}

.keyboard table .enter {
  width: 50px;
}

.keyboard .stats-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 500px) {
  .keyboard {
    width: 350px;
  }
  .keyboard table {
    width: 350px;
  }
}

.correct {
  background-color: #229954;
  border: 1.5px solid black;
  color: #edf9f2;
}

.semi-correct {
  background-color: #e19d01;
  border: 1.5px solid black;
  color: #edf9f2;
}

.incorrect {
  background-color: #30473a;
  border: 1.5px solid black;
  color: #edf9f2;
}

.hide {
  display: none;
}

.result {
  width: 250px;
  height: 95px;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
  border: 2px solid #30473a;
  background-color: #f9f7f4;
  border-radius: 5px;
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  color: #30473a;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-name: popup;
          animation-name: popup;
}

.result .game_msg {
  font-weight: bold;
  font-size: 1.1em;
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popup {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.new_game {
  background-color: #229954;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  padding: 1em 2em;
  border: 0.5px solid;
  border-radius: 0.3em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.rules-btn {
  width: 25px;
  position: absolute;
  top: 50%;
  right: -10%;
  cursor: pointer;
}

#stats {
  border: 1px solid #229954;
  border-radius: 5px;
  background-color: #229954;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  width: 80%;
  height: 25px;
  font-size: 1em;
  font-weight: bold;
}

#stats-container {
  width: 400px;
  position: absolute;
  z-index: 1;
  border: 2px solid #30473a;
  border-radius: 0.35em;
  background-color: #f9f7f4;
  text-transform: uppercase;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  top: 15%;
  -webkit-animation: 0.4s;
          animation: 0.4s;
  -webkit-animation-name: popup;
          animation-name: popup;
}

#stats-container .stats-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#stats-container .stats-line h4 {
  width: 47%;
  margin-right: 2.5em;
  text-align: left;
  font-size: 0.8em;
}

#stats-container .stats-line .stats-bar {
  border: 1px solid #229954;
  border-radius: 0.1em;
  background-color: #229954;
  height: 15px;
}

#stats-container h4 {
  font-size: 1.1em;
  margin-right: 2.5em;
  text-align: center;
  width: 100%;
}

#stats-container #games-played,
#stats-container #wins {
  font-size: 1.3em;
  margin: 0;
}

#rules {
  width: 400px;
  position: absolute;
  z-index: 1;
  border: 2px solid #30473a;
  border-radius: 0.3em;
  background-color: #f9f7f4;
  left: 0;
  right: 0;
  margin: auto;
  top: 17%;
  -webkit-animation: 0.4s;
          animation: 0.4s;
  -webkit-animation-name: popup;
          animation-name: popup;
}

#rules p {
  margin: 0.3em;
  padding-left: 1em;
}

.close-btn {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  width: 5%;
  cursor: pointer;
}

#rules-image {
  width: 60%;
  margin: 1.5em auto;
}

#rules-image img {
  max-width: 100%;
}

.dark-mode {
  color: white;
  background-color: #363636;
}

@media (max-width: 500px) {
  .whole-wrapper {
    overflow-y: hidden;
  }
  #stats-container {
    width: 300px;
  }
  #stats-container .stats-line h4 {
    font-size: 0.6em;
  }
  #stats-container h4 {
    font-size: 0.9em;
  }
  #rules {
    width: 300px;
  }
  .keyboard {
    width: 400px;
  }
  .keyboard table .letter {
    width: 32px;
    height: 45px;
  }
  .keyboard table .enter,
  .keyboard table .backspace {
    height: 45px;
  }
  .keyboard .row1,
  .keyboard .row3 {
    width: 400px;
  }
  .keyboard .row2 {
    width: 350px;
  }
  .result {
    width: 300px;
    height: 120px;
  }
}
/*# sourceMappingURL=style.css.map */
