@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
}

.container {
  margin: 2em auto 1em auto;
  width: 250px;
}

.container .cell {
  border: 1px grey solid;
  width: 50px;
  height: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}

.keyboard {
  width: 400px;
  height: 150px;
  margin: 1em auto 1em auto;
}

.keyboard table {
  margin: auto;
  width: 400px;
}

.keyboard table .row1 {
  margin: auto;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 0.5em;
}

.keyboard table .row2 {
  margin: auto;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 0.5em;
}

.keyboard table .row3 {
  margin: auto;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 0.5em;
}

.keyboard table .letter {
  width: 25px;
  height: 25px;
  font-weight: 700;
  border: 1px black solid;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.3em;
}

.keyboard table .letter:hover {
  cursor: pointer;
}

.keyboard table .enter,
.keyboard table .backspace {
  width: 55px;
  height: 30px;
  font-weight: 700;
  border: 1px black solid;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.3em;
}

.keyboard table .enter,
.keyboard table .backspace:hover {
  cursor: pointer;
}

.correct {
  background-color: #229954;
  border: 1.5px solid black;
  color: #edf9f2;
}

.semi-correct {
  background-color: #e19d01;
  border: 1.5px solid black;
  color: #edf9f2;
}

.incorrect {
  background-color: #30473a;
  border: 1.5px solid black;
  color: #edf9f2;
}

.hide {
  display: none;
}

.result {
  width: 250px;
  height: 95px;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
  border: 2px solid #30473a;
  background-color: #f9f7f4;
  border-radius: 5px;
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  color: #30473a;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-name: popup;
          animation-name: popup;
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popup {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.new_game {
  background-color: #229954;
  color: white;
  padding: 1em 2em;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.rulesBtn {
  padding: 0 4px;
  border-radius: 3em;
  border: 0.75px black solid;
  background-color: transparent;
  float: right;
  margin: -2em auto;
  padding-right: -2em;
  cursor: pointer;
}

#stats {
  border: 1px solid #229954;
  border-radius: 5px;
  background-color: #229954;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  width: 80%;
  height: 20px;
  margin-left: 3em;
}

#stats-data {
  width: 400px;
  position: absolute;
  z-index: 1;
  border: 2px solid #30473a;
  background-color: #f9f7f4;
  text-transform: uppercase;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  top: 17%;
  -webkit-animation: 0.4s;
          animation: 0.4s;
  -webkit-animation-name: popup;
          animation-name: popup;
}

#stats-data h4 {
  font-size: 0.8em;
}

#stats-data #games-played,
#stats-data #wins {
  font-size: 1.3em;
  margin: 0;
}

#stats-data #close-btn {
  position: absolute;
  right: 0;
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */